pre > code {
  counter-reset: line;
  padding: unset !important;
}

pre > code > .line::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 1rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-title] {
  padding: 0.5rem 1rem 0 1rem;
  @apply rounded-t-lg bg-zinc-100 font-cal text-zinc-900 dark:bg-zinc-800 dark:text-zinc-400;
}
[data-rehype-pretty-code-title] + pre {
  @apply rounded-t-none;
}

[data-rehype-pretty-code-fragment] .line--highlighted {
  @apply rounded py-0.5 pr-1.5 dark:bg-zinc-700;
}

[data-rehype-pretty-code-fragment] .word {
  @apply rounded px-1.5 py-0.5;
}

[data-word-id='b'] {
  @apply bg-trpc-500/80;
}
[data-word-id='r'] {
  @apply bg-pink-900/80;
}
[data-word-id='y'] {
  @apply bg-amber-500/80;
}
[data-word-id='p'] {
  @apply bg-indigo-900/80;
}
